.navbar {
  background-color: $ocean-blue;
}

.nav-menu {
  display: none;

  .nav-link {
    color: $sandy-black;
    text-decoration: none;
    text-align: center;
    margin: 0;
  }
}

.nav-menu.expanded {
  display: block;

  position: absolute;
  top: 105px;
  width: 100%;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 566px);
  background-color: $ocean-blue;
}

.hamburger-react {
  display: block;
}



@media(min-width: $mobile-breakpoint) {
  .navbar{
    .nav-menu {
      display: flex;
    }

    .nav-link {
      display: block;
    }

    .hamburger-react {
      display: none;
    }
  }
}
