.navbar {
  background-color: $ocean-blue;
  flex-wrap: nowrap;
}

.nav-menu {
  display: none;
  font-size: 18px;

  .nav-link {
    color: $sandy-black;
    text-decoration: none;
    text-align: center;
    margin: 0;
  }
}

// .nav-menu-container {
//   max-width: 100%;

// }

.nav-menu.expanded {
  display: block;
  position: absolute;
  top: 95px;
  left: 0;
  width: 100%;
  flex-direction: column;
  width: 100%;
  background-color: $ocean-blue;
  padding-bottom: 0.5em;
}

#nav-search {
  width: 100%;
  margin: 15px 0;
}

#hamburger {
  padding: 1em;

  .hamburger-react {
    display: block;
    color: $sandy-black;
    size: 40;
  }
}

@media(min-width: $mobile-breakpoint) {
  .navbar{
    .nav-menu {
      display: flex;
      padding: 10px;
    }

    .nav-link {
      display: block;
    }

    #hamburger {
      display: none;
    }

    #nav-search {
      max-width: 20%;
      margin-left: auto;
    }
  }
}
